@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

img {
    height: 150px;
}

.description {
    font-size: 20px;
}

#cook-time {
    font-weight: bold;
}

.ingredients {
    list-style: square;
}

.time {
    color: gray;
}

h1,h2,p,li {
    font-family: Helvetica;
}

.external-link {
    color: SeaGreen;
}